---
layout: default
---

<section class="post">
  {{ content }}
</section>

<section class="meta">
  <span class="author">
    <a href="mailto:{{ site.author.email }}">{{ site.author.name }}</a>
  </span>
  <span class="time">
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
  <br />
  {% if page.categories %}
  <span class="categories">
    in category
    {% for cat in page.categories %}
    <a href="{{ site.url }}/categories/#{{ cat | cgi.escape }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
    {% endfor %}
  </span>
  {% endif %}
  {% if page.tags %}
  <span class="tags">
    tagged with 
    {% for tag in page.tags %}
    <a href="{{ site.url }}/tags/#{{ tag | cgi.escape }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
    {% endfor %}
  </span>
  {% endif %}

</section>

<section class="navigation">
  <ul>
    {% if page.previous %}
    <li><a href="{{ site.url }}{{ page.previous.url }}">previous</a></li>
    {% endif %}
    <li><a href="{{ site.url }}">home</a></li>
    {% if page.next %}
    <li><a href="{{ site.url }}{{ page.next.url }}">next</a></li>
    {% endif %}
  </ul>
</section>
